@model ProjektsLiene.Models.SendSubscribers

@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
        <script src="https://kit.fontawesome.com/047ba35f7e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="~/css/index.css" />
    </head>
    <body>
    @if (TempData["AlertMessage"] != null)
        {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["AlertMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div> 
        }
        
     <img class="logo" src="/lib/Images/Logo/default-monochrome.svg" alt"minfuelness logo"/>
        
       <div class="izsutne">
            <form method="post">
                <h4>Pieraksties jaunumiem</h4>
                <div class="email-box">
                    <i class="far fa-envelope"></i>
                    <input type="email" asp-for="@Model.Email" class="tbox" value="" placeholder="Ievadi savu epastu"/>
                    <input type="submit" value="Pierakstīties" class="btn">
                </div>
            </form>
        </div>
    </body>
</html>
