@{
    ViewData["Title"] = "Ieradumu koučings";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/koucings.css" />
</head>
<body>
    <div class="hero-image">
        <h1 class="hero-text">IERADUMU KOUČINGS</h1>
    </div>
    <div class="virsraksts">
        <h5>Pieraksts tiks atvērts 2022. gada jūnijā:</h5>
    </div>

        <div class="Virsraksts-1">
        <h3>Ieradumu koučings</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at lacinia ligula. 
           Phasellus velit purus, pharetra sit amet elementum ac, scelerisque a lectus.
           Praesent a enim cursus, ullamcorper leo sit amet, condimentum massa. Donec vestibulum efficitur imperdiet.
           Fusce interdum diam sit amet hendrerit congue. Vestibulum quis congue magna, vel ultricies ipsum.
           Sed sed mi a libero gravida congue. Sed lacinia tincidunt turpis vel cursus.
           <br />
           <br />
           Vestibulum vulputate, urna in pharetra facilisis, augue urna dapibus purus, id sagittis justo velit non eros.
           In ac sagittis arcu. Fusce eu nibh et neque malesuada blandit id quis quam.
           Sed in dignissim elit. Cras vitae est magna. Praesent tincidunt sed elit nec sagittis. 
           Sed auctor in odio et porta. Fusce enim nisl, porta eu pulvinar laoreet, consectetur eget mauris.</p>
    </div>

    <div class="Virsraksts-2">
        <h3>Kas īsti ir ieradums?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at lacinia ligula. 
           Phasellus velit purus, pharetra sit amet elementum ac, scelerisque a lectus.
           Praesent a enim cursus, ullamcorper leo sit amet, condimentum massa. Donec vestibulum efficitur imperdiet.
           Fusce interdum diam sit amet hendrerit congue. Vestibulum quis congue magna, vel ultricies ipsum.
           Sed sed mi a libero gravida congue. Sed lacinia tincidunt turpis vel cursus.
           <br />
           <br />
           Vestibulum vulputate, urna in pharetra facilisis, augue urna dapibus purus, id sagittis justo velit non eros.
           In ac sagittis arcu. Fusce eu nibh et neque malesuada blandit id quis quam.
           Sed in dignissim elit. Cras vitae est magna. Praesent tincidunt sed elit nec sagittis. 
           Sed auctor in odio et porta. Fusce enim nisl, porta eu pulvinar laoreet, consectetur eget mauris.</p>
    </div>
</body>
</html>
