@{
    ViewData["Title"] = "Ieradumu koučings";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/koucings.css" />
</head>
<body>
    <div class="hero-image">
        <h1 class="hero-text">IERADUMU KOUČINGS</h1>
    </div>
    <div class="virsraksts">
        <h5>Pieraksts tiks atvērts 2022. gada jūnijā:</h5>
    </div>

        <div class="Virsraksts-1">
        <h3>Ieradumu koučings</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at lacinia ligula. 
           Phasellus velit purus, pharetra sit amet elementum ac, scelerisque a lectus.
           Praesent a enim cursus, ullamcorper leo sit amet, condimentum massa. Donec vestibulum efficitur imperdiet.
           Fusce interdum diam sit amet hendrerit congue. Vestibulum quis congue magna, vel ultricies ipsum.
           Sed sed mi a libero gravida congue. Sed lacinia tincidunt turpis vel cursus.
           <br />
           <br />
           Vestibulum vulputate, urna in pharetra facilisis, augue urna dapibus purus, id sagittis justo velit non eros.
           In ac sagittis arcu. Fusce eu nibh et neque malesuada blandit id quis quam.
           Sed in dignissim elit. Cras vitae est magna. Praesent tincidunt sed elit nec sagittis. 
           Sed auctor in odio et porta. Fusce enim nisl, porta eu pulvinar laoreet, consectetur eget mauris.</p>
    </div>

    <div class="Virsraksts-2">
        <h3>Kas īsti ir ieradums?</h3>
       <p>
           Vārds ieradums visbiežāk attiecas uz parastu uzvedības veidu vai tendenci, kurā kāds ir iedzīvojies, piemēram, "labi ēšanas paradumi".<br />

           Tomēr savā senākajā nozīmē ieradums nozīmēja "apģērbu", un tam nebija nekā kopīga ar lietām, ko cilvēks dara regulāri un atkārtoti.                    Mūsdienās šī nozīme ir saglabāta tikai tādās frāzēs kā "mūķenes ieradums", "mūka ieradums" un "jāšanas ieradums" (apģērbs, ko valkā zirgu              izjādēm).<br />

           Tāpat kā daudzi vārdi, kas parādījās angļu valodā gadsimtos pēc Normanu iekarošanas, ieradums nāca no franču valodas. Patiešām, mūsdienu               franču vārds apģērbam ir paradumi (izrunā \ah-bee\). Angļu valodā ieradums mainījās no nozīmes “apģērbs” uz “apģērbs noteiktai profesijai              vai mērķim” līdz “izturēšanās, uzvedība, uzvedība.” (Vārda evolūcija liek atcerēties veco sakāmvārdu “apģērbs veido cilvēku”, kas                      apgalvo, ka tas, kā mēs ģērbjamies, atspoguļo mūsu raksturu.)
<br />
           No “ko valkā” līdz “kā viņš uzvedas” ieradums turpināja attīstīties, atsaucoties uz izskatu (“cilvēks ar miesīgu ieradumu”) un garīgo uzbūvi            (“filozofisks ieradums”), pirms, pēc vairākiem gadsimtiem angļu valodā, tas nozīmēja atkārtotu darbību: "uzvedības modeli, kas iegūts, bieži           atkārtojot".
<br />
           Īpaša paraduma attīstība attiecībā uz atkarību no narkotikām sākās 19. gadsimtā, atsaucoties uz opiju.
<br />
           Interesanti, ka, lai gan “apģērbs” ir vecākā ieraduma nozīme angļu valodā, tā nebija vārda galējās latīņu saknes habitus sākotnējā nozīme.             Latīņu valodā šī vārda sākotnējā nozīme bija “stāvoklis” vai “stāvoklis”.
<br />
           Mūsu mūsdienās visizplatītākais ieraduma lietojums, “iegūtais uzvedības veids”, latīņu valodā nepastāvēja — habitus nozīmēja “stāvoklis” uz            “kā cilvēks uzvedas” uz “apģērbs”. Tas, ka tas tika adaptēts angļu valodā tieši apgrieztā secībā, ir vēstures nejaušība; nozīmju secība, kas           pārņemta no vienas valodas citā, reti veido loģisku attīstību. Tāpat kā jebkurai valodai, nozīmi nosaka lietojums un ieraduma spēks.
       </p>
    </div>
</body>
</html>
