@{
    ViewData["Title"] = "Masāža";
}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/masaza.css" />
</head>
<body>
    <div class="hero-image">
        <h1 class="hero-text">MASĀŽA</h1>
    </div>
    <div id="masaza-big">
        <div class="masaza-1">
            <div class="nosaukums">
                <h2> Pilna ķermeņa masāža </h2>
                <h6>Procedūras ilgums 1,5h</h6>
            </div>
                <h5> 55 Eur</h5>
                <a class="btn" asp-area="" asp-controller="Home" asp-action="Kontakti">Pieteikties</a>
            </div>
            <div class="masaza-2">
             <div class="nosaukums">
                <h2> Relaksējoša muguras masāža </h2>
                <h6>Procedūras ilgums 0,5h</h6>
             </div>
                <h5> 25 Eur</h5>
                <a class="btn" asp-area="" asp-controller="Home" asp-action="Kontakti">Pieteikties</a>
            </div>
            <div class="masaza-3">
             <div class="nosaukums">
                <h2> Muguras un roku masāža </h2>
                <h6>Procedūras ilgums 1h</h6>
             </div>
                <h5> 35 Eur</h5>
                <a class="btn" asp-area="" asp-controller="Home" asp-action="Kontakti">Pieteikties</a>
            </div>
            <div class="masaza-4">
                <div class="nosaukums">
                <h2> Muguras un kāju masāža </h2>
                <h6>Procedūras ilgums 1h</h6>
                </div>
                <h5> 40 Eur</h5>
                <a class="btn" asp-area="" asp-controller="Home" asp-action="Kontakti">Pieteikties</a>
            </div>
            <div class="masaza-5">
                <div class="nosaukums">
                <h2> Sejas un galvas masāža </h2>
                <h6>Procedūras ilgums 0,5h</h6>
                </div>
                <h5> 25 Eur</h5>
                <a class="btn" asp-area="" asp-controller="Home" asp-action="Kontakti">Pieteikties</a>
            </div>
            <div class="masaza-6">
                <div class="nosaukums">
                <h2> Atslābinoša masāža grūtniecēm </h2>
                <h6>Procedūras ilgums 1h</h6>
                </div>
                <h5>50 Eur</h5>
                <a class="btn" asp-area="" asp-controller="Home" asp-action="Kontakti">Pieteikties</a>
            </div>
    </div>
<br />
<br />
<!-- Atsauksmju slidebar -->
    <div id="slide">
      <div class="slideshow-container">
        <div class="mySlides fade">
            <q>Liene ir punktuāla un profesionāla jogas pasniedzēja, kas vienā nodarbībā spēj ievīt apzinātību ar treniņu tā, lai panāktu rezultātu..</q>
             <p class="author">- Martins Gauss</p> 
         </div>
        <div class="mySlides fade">
            <q>Katru nedēļu birojā iesākam ar jogu, jo kustība ir dzīvība!.</q>
             <p class="author">- iRobot</p> 
         </div>
         <div class="mySlides fade">
            <q>Liene katru nodarbību padara īpašu un iesaka, ko mēs katrs individuāli varam darīt papildus, lai uzlabotu savu pašsajūtu.</q>
             <p class="author">- Krassky</p> 
         </div>
         <div class="mySlides fade">
            <q>Jogas nodarbības darba vietā ir kā svaiga gaisa malks, un komandas saliedēšanas iespēja.</q>
             <p class="author">- Māmiņu klubs</p> 
         </div>
         <div class="mySlides fade">
            <q>Darbs aviācijā var būt stresa pārpildīts, taču pēc jogas darba dienu sākam ar skaidru prātu, enerģijas pilni un spējam efektīvāk koncentrēties darba pienākumiem.</q>
             <p class="author">- SmartLynx Airlines</p> 
         </div>
         <div class="mySlides fade">
            <q>Mūsu birojā piektdienas ir īpaši gaidītas, jo nedēļas noslēgumu varam sagaidīt ar jogas nodarbību.</q>
             <p class="author">-  Fox Consulting Latvia</p> 
         </div>
         <div class="mySlides fade">
            <q>Liene iedziļinās savā darbā un cilvēka psiholoģijā. Ir diezgan apbrīnojami, ka tāds mazs gaisīgs cilvēks spēj sarunāties ar ķermeni visdziļākājā līmenī.</q>
             <p class="author">- Inese Kamarūte </p> 
         </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    </div>
      <br>
      <div style="text-align:center"> 
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span> 
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
    </div>
    <!-- Atsauksmju slidebar beigas-->
</body>
</html>