body {
    font-family: 'Overpass', sans-serif;
}

.big {
    width: 100%;

}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../lib/Images/Joga/yoga.jpg);
    height: 300px;
    width: 90%;
    margin:auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}

.hero-text {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: floralwhite;
    font-size: 10vw;
}

.joga-box1 {
    display: flex;
    position: relative;
    width: 90%;
    height: 140px;
    padding: 5px;
    margin: auto;
    margin-top: 50px;
    border-width: 2px;
    border-color: #9f8484;
    border-style: solid;
    text-align: left;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.joga-box2 {
    display: flex;
    position: relative;
    width: 90%;
    height: 140px;
    padding: 5px;
    margin: auto;
    margin-top: 50px;
    border-width: 2px;
    border-color: #9f8484;
    border-style: solid;
    text-align: left;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}


.joga-box3 {
    display: flex;
    position: relative;
    width: 90%;
    height: 140px;
    padding: 5px;
    margin: auto;
    margin-top: 50px;
    border-width: 2px;
    border-color: #9f8484;
    border-style: solid;
    text-align: left;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.joga-box1 h2, .joga-box2 h2, .joga-box3 h2 {
    display: flex;
    position: relative;
    font-size: 23px;
    text-align:left;
}

.joga-box1 h5, .joga-box2 h5, .joga-box3 h5 {
    display: flex;
    position: relative;
    font-size: 20px;
}

.nosaukums {
    display: block;
    margin: 2px;
}

.btn {
    display: flex;
    position: relative;
    width: fit-content;
    margin: 1px 20px 1px 1px;
    border-radius: 5px;
    border-color: #9f8484;
    display: inline-block;
    cursor: pointer;
    border-width: 1px;
}

/* Atsauksmju slidebar */

#slide {
    width: 100%;
    position: relative;
}

* {
    box-sizing: border-box
}

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: -10px;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.1);
    }
/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 10s;
}

@-webkit-keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
/* Atsauksmju slidebar beigas */

